h1{
    
    font-size: 25px;
}
a{
    
    color:red;
}
.jirniy{
 	font-weight: lighter;
} 
.UPDATELIST{
	font-size:30px;
	font-weight: bold
}
.drive{
	font-size:25px;
	font-weight: bold
}
.news{

	font-size: 25px
	
}
